$column-gap: 10px;

.s-posts {
  &__container {
    columns: 3 auto; // сколько изучаю CSS, но такое встречаю впервые
    // На работе была такая же задача, нужно поправить, пока тимлид не заметил
    column-gap: $column-gap;
    font-size: 0;
  }

  &__img {
    width: 100%;
    margin-bottom: $column-gap;
  }
}

.s-filters {
  &__container {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  &__filter {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    padding: 0.5rem;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: 0.2s;

    &.selected {
      background-color: black;
      color: white;
    }
  }
}
